*{
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}

.card {
    background-color: hsl(0, 0%, 100%);
    width: 320px;
    border-radius: 16px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    padding: 16px;
    text-align: center;
}

.qr-image {
    width: 288px;
    height: 288px;
    border-radius: 12px;
    display: block;
    margin: auto;
}   

.card h1 {
    font-size: 22px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin: 16px 0 12px;
}

.card p {
    font-size: 16px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    margin: 0 8px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    gap: 16px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    padding-top: 40px;
    justify-items: center;
}   

.cards-container .card:nth-child(4) {
    grid-column: 2;
}

footer {
    margin-top: 32px;
    font-size: 11px;
    text-align: center; 
}
